/* font-family: 'Montserrat', sans-serif; */
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ff00bf;
}

footer {
  margin-top: 1518px;
}

hr {
  width: 70%;
  position: absolute;
  margin-left: 146px;
  margin-top: -103px;
}

#first_section {
  color: white;
  margin: 0;
  padding: 1px;
}

#first_section h3 {
  font-size: 1.75rem;
}

#position {
  position: fixed;
  width: 97%;
  margin: 0;
  padding: 0;
}

#second_seccion .text {
  display: inline-block;
  position: absolute;
}

#last_section h4 {
  text-transform: uppercase;
}

#last_section p {
  text-transform: capitalize;
}

#last_section {
  padding: 57px;
  background-color: #333447;
  color: white;
}

#last_section p:hover {
  color: #FF00B9;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.clear {
  clear: both;
}

.main-image {
  margin: 0;
}

.main-seccion {
  background-image: url('../assets/images/hero.gif');
  background-size: cover;
  height: 800px;
  width: 100%;
}

.grad1 {
    height: 600px;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#71228B, #2d1e67); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#71228B, #2d1e67); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#71228B, #2d1e67); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#71228B, #2d1e67); /* Standard syntax (must be last) */
}

.ml {
  margin-left: 150px;
  line-height: -30px;
}

.image {
  margin-left: 687px;
  margin-top: -451px;
}

.video1 {
  position: absolute;
  display: inline-block;
  margin-left: 434px;
}

.text-left {
  display: inline-block;
  position: absolute;
  margin-top: 536px;
  margin-left: 937px;
}

.video2 {
  position: absolute;
  display: inline-block;
  margin-top: 506px;
}

.text-right {
  position: absolute;
  display: inline-block;
  margin-top: 1012px;
}

.video3 {
  position: absolute;
  display: inline-block;
  margin-top: 1012px;
  margin-left: 434px;
}

.column1 {
  display: inline-block;
  margin: 0 97px 232px 62px;
}

.column2 {
  display: inline-block;
  margin: 0 97px 232px 62px;
}

.column3 {
  display: inline-block;
  margin: 0 97px 232px 62px;
}

.icons {
  position: absolute;
  display: inline-block;
  margin-top: 40px;
  width: 8%;
  margin-left: 97px;
}

.apple {
  padding: 10px;
}

.google {
  padding: 10px;
}

.microsoft {
  padding: 10px;
}
